@import '_auto-suggest.less';

.tab-content {
  min-height: 480px;
}

.tab-view {
  position: absolute;
  top: 140px;
  width: 97%;
}

.search-result {
  padding: 5px;
  padding-left: 8px;
  height: 71px;

  p.small {
    margin-bottom: 0px;
  }

  .client img {
    max-height: 50px;
	  padding-right: 10px;
  }

  &:last-of-type {
    border: none;
  }

  &:hover {
    background-color: @table-bg-active;
    cursor: pointer;
  }

  border-bottom: 2px solid @clouds;
  .person, .client {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.client-result a {
  margin-top: 10px;
}

.search-count-badge {
  margin-left: 5px;
  font-size: 12px;
}

.result-list {
  list-style: none;
  padding-left: 0;
  min-height: 363px;
}

.pagination {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;

  ul {
    display: inline-block;
    background-color: @brand-secondary;
  }
}

.pagination a { cursor: pointer; }
.pagination .page-desc {
  padding: 0 10px;
}

.pagination .next a, .pagination .previous a {
  background-color: @peter-river;
  &:hover {
    background-color: @btn-primary-hover-bg;
  }
}

.disabled {
  a:hover {
    background-color: @peter-river !important;
    cursor: not-allowed;
  }
}
