@import '../../vendor/bootstrap/less/bootstrap.less';
@import 'flat-ui/flat-ui.less';
@import '_search.less';
@import '_client.less';
@import '_person.less';
@import '_project.less';
@import '_fonts.less';

body, html {
    //padding: 20px 0;
    //margin-bottom: 50px;
    height: 100%;
}

.full-page {
  @hero-background: desaturate(darken(@brand-secondary, 20%), 20%);

  background: url('/assets/images/water.png');
  background-color: @hero-background;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -189px;
  text-align: center;

  button {
    margin-top: 20px;
  }
}

h5 {
	font-size: 18px;
}

h1.login-header {
  color: white;
  font-size: 72px;
  border-bottom: 2px solid white;
  margin-bottom: 0px;
  padding-bottom: 15px;

  img {
    width: 75px;
    margin-left: 10px;
    margin-top: -20px;
  }
}

.container {
    position: relative;

}

.navbar {
    margin-bottom: 20px;
}

.container {
  min-height: 100%;
  margin-bottom: 50px;
  margin-top: 20px;
}

.container:after {
  content: "";
  display: block;
  height: 50px;
}

#footer {
    //position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;

    .row {
        margin-top: -12px;
        margin-right: auto;
        margin-left: auto;
        width: 970px;
    }
}

.nav-tab.active, .tab-pane {
    background-color: @inverse;
    color: @text-color;
}

.nav-tab:hover {
    cursor: pointer;
}

.navbar-nav > li > a.active {
    background: transparent;
    color: @peter-river;
}

.profile { border-radius: 150px; }

.nav-tab {
  width: 50%;
  text-align: center;
}

.circle-crop(@size) {
  overflow: hidden;
  border-radius: 50%;
  height: @size;
  width: @size;

  > img {
    width: @size;
  }
}

.sm {
  max-height: 50px;
  &.person {
    .circle-crop(50px);
  }
}

.xs {
  max-height: 30px;
  &.person {
    .circle-crop(30px);
  }
}

.team-person .person {
  float: left;
}

.lg {
  max-height: 120px;
  &.person {
    .circle-crop(120px);
  }
  &.client {
    img {
      max-height: 100px;
    }
  }
}
