@import '../../vendor/bootstrap/less/bootstrap.less';
@import 'flat-ui/flat-ui.less';
@import '_auto-suggest.less';

body {
    padding: 20px 0;
    margin-bottom: 50px;
}

.navbar {
    margin-bottom: 20px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}
