<ul class="nav nav-pills">
    <li class="active"><a href="#">People</a></li>
    <li><a href="#">Projects</a></li>
</ul>

<ul class="result-list">
	{{#each people.content}}
    {{#linkTo person this tagName='li'}}
			<img class="avatar" {{bindAttr src="image"}} alt="profile image">
			{{fullName}}
			<span class="fui-arrow-right"></span>
		{{/linkTo}}
	{{/each}}
</ul>
