<ul class="nav nav-pills">
    <li class="active"><a href="#">People</a></li>
    <li><a href="#">Projects</a></li>
</ul>

<ul class="result-list">
	{{#each people.content}}
		<li>
			<img class="avatar" src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?f=y&d=mm" alt="profile image" />
			{{fullName}}
			<span class="fui-arrow-right"></span>
		</li>
	{{/each}}
</ul>
