<div class="tagsinput row">
	<div class="small-12 small-centered columns">
		Filters:
		<span class="tag">
			<span>Java</span>
			<a class="tagsinput-remove-link">×</a>
		</span>
		<span class="tag">
			<span>C1</span>
			<a class="tagsinput-remove-link">×</a>
		</span>
	</div>
</div>
<br />
<div class="row">
	<div class="small-12 small-centered columns">
		<ul class="button-group even-2">
			<li><a class="small button active">People</a></li>
			<li><a class="small button">Projects</a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="small-12 small-centered columns">
		<ul class="people">
			<li class="valign">
				<div class="img"><img src="http://placehold.it/50x50" /></div>
				<div>
					<h5>Woodmansee, Cameron</h5>
					<p>V11</p>
				</div>
			</li>
			<li class="valign">
				<div class="img"><img src="http://placehold.it/50x50" /></div>
				<div>
					<h5>Yu, Anthony</h5>
					<p>V12</p>
				</div>
			</li>
			<li class="valign">
				<div class="img"><img src="http://placehold.it/50x50" /></div>
				<div>
					<h5>Mistry, Mina</h5>
					<p>V12</p>
				</div>
			</li>
		</ul>
	</div>
</div>