<nav class="top-bar">
	<ul class="title-area left">
		<li class="name">
			<a href="#"><h1>Ocean</h1></a>
		</li>
	</ul>
</nav>

<div class="row">
	<div class="small-11 small-centered columns">
		{{outlet}}
	</div>
</div>
