{{#view App.SearchContainerView}}
<span {{action 'selectSearchItem' view.content}}>{{view.content.name}}</span>
<span class="search-label">{{filterable view.content.name view.content.type}}</span>
{{/view}}

{{partial 'search/filter'}}
