$firm:			#3498db;
$inverse:		#fff;
$wet-asphalt:   #34495e;
$concrete:      #95a5a6;
$base: 			$wet-asphalt;
$gray: 			$concrete;

$primary-hover:  tint($firm, 20%);
$primary-active: shade($firm, 25%);

$nav-tabs-border-width:  2px;
$nav-tabs-border-color:  tint($base, 85%);
$nav-border-radius:      6px;
$nav-tabs-active-color:  tint($base, 37%);
$nav-tabs-hover-color:   $firm;
$nav-tabs-color:         $nav-tabs-active-color;

//table-border:    mix(@gray, white, 16.5%);
$table-border: tint($gray, 83.5%);
$table-bg-active: lighten($base, 69%);