@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'flat/flat-ui';
@import 'icon-font';
@import 'config';
@import 'dropdown';
@import 'nav';
@import 'search';

header h1 {
  text-align: center;
  span {
    color: $firm;
  }
}

a {
	text-decoration: none;
}

.hide {
  opacity: 0;
  @include transition(.1s);
}

.show {
  opacity: 1;
  @include transition(.1s);
}

.container {
	@include outer-container;
}

.content {
	margin-top: 30px;
	@include span-columns(10);
	@include shift(1);
}

#{$all-text-inputs-focus} {
	outline: 0;
	border-color: $firm;
}

.dropdown-arrow {
  left: 13px;
}

.input-icon {
    position: absolute;
    top: 2px;
    right: 2px;
    line-height: 37px;
    vertical-align: middle;
    font-size: 20px; /* 20px */
    color: desaturate(lighten($base, 45%), 15%);
    background-color: #ffffff;
    padding: 0 10px;
    border-radius: 6px;
  }


// Tabs
.nav-tabs {
  border-bottom-width: $nav-tabs-border-width;
  border-bottom-color: $nav-tabs-border-color;
  padding-left: 0;

  // With tabs content appended
  &.nav-append-content {
    border-bottom: none;
    margin-bottom: 0;
    > li {
      &.active {
        &:first-child {
          &:before {
            background-color: $inverse;
            border-left: $nav-tabs-border-width solid $nav-tabs-border-color;
            content: "";
            height: $nav-border-radius;
            left: 0;
            position: absolute;
            bottom: $nav-tabs-border-width - $nav-border-radius;
            width: $nav-border-radius;
            z-index: 2;
          }
        }
      }
    }
  }

  // List item
  > li {
    margin-bottom: -$nav-tabs-border-width;
    position: relative;
    width: 50%;

    // Active link
    &.active {
      z-index: 2;
      > a,
      > a:hover,
      > a:focus {
        border-color: $nav-tabs-border-color;
        border-bottom-color: $inverse;
        border-width: $nav-tabs-border-width;
        color: $nav-tabs-active-color;
      }
      .dropdown-toggle,
      .dropdown-toggle:hover,
      .dropdown-toggle:focus {
        color: $nav-tabs-active-color;
        .caret {
          border-bottom-color: $nav-tabs-active-color;
          border-top-color: $nav-tabs-active-color;
        }
      }
    }

    // General link styling
    > a {
      border-width: $nav-tabs-border-width;
      font-weight: 600;
      padding: 7px 21px 8px;
      border-radius: $nav-border-radius $nav-border-radius 0 0;
      color: $nav-tabs-color;
      text-align: center;
      //.transition(none);

      &:hover, &:focus {
        background-color: transparent;
        border-color: transparent;
        border-bottom-color: transparent;
        outline: none;
        color: $nav-tabs-hover-color;
      }
    }
  }
}

// Pills
.nav-pills {
  padding-left: 0;	

  > li {
  	width: 50%;

    &:first-child {
      > a {
        border-left: none;
        border-radius: 6px 0 0 6px;
      }
    }
    &:last-child {
      > a {
        border-radius: 0 6px 6px 0;
      }
    }
    &.active {
      > a, > a:hover {
        background-color: $primary-active;
      }
    }

    @media (max-width: 480px) {
      & {
        float: none;
        display: block;
      }
      &:first-child > a { border-radius: 6px 0 0 6px; }
      &:last-child > a  { border-radius: 6px 0 0 6px; }
    }

    > a {
      text-align: center;
      background-color: #3498db;
      border-left: 2px solid $primary-active;
      color: $inverse;
      font-size: 16px; /* 16px */
      font-weight: 500;
      margin: 0;
      outline: none;
      padding: 12px 21px 13px;
 	  text-decoration: none;
      &:hover, &:focus {
        background-color: $primary-hover;
      }
      &:active {
        background-color: $primary-active;
      }

      @media (max-width: 480px) {
        & {
          border-left: none;
          display: block;
        }
      }
    }
  } 
}

// Search results
.avatar {
	height: 50px;
  vertical-align: middle;
}

.result-list {
	list-style: none;
	padding-left: 0;

	> li {
		border-top: 2px solid $table-border;
		padding: 5px;
		font-size: 16px;

		&:first-child {
			border-top: none;
		}

		&:nth-child(even) {
			background-color: $table-bg-active;
		}

		&:hover {
			background-color: tint($firm, 95%);
			cursor: pointer;
		}

    span {
      text-align: right;
      float: right;
      margin-top: 15px;
    }
	}
}