<div class="container">
  <header><h1>The Ocea<span>n</span></h1>
    {{#if session.currentUser}}
        {{session.currentUser.fullName}} |
        <a href="#" {{action 'logout'}}>Logout</a>
    {{/if}}
  </header>
  <div class="content">
    {{outlet}}
  </div>
</div>
