<div class="container">

  <div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
          <div class="navbar-header"><a href="#" class="navbar-brand">The Ocean</a></div>
          <ul class="nav navbar-nav navbar-right">
              <li><a href="#">{{session.currentUser.fullName}}</a></li>
              <li><a href="#" {{action 'logout'}}>Logout</a></li>
          </ul>
      </div> <!-- /container-fluid -->
  </div>

  {{outlet}}

</div><!-- /container -->

<div id="footer" class="bottom-menu bottom-menu-inverse">
    <div class="container">
        <div class="row"><span class="icon-parivedalogo"></span> Pariveda 2014</div>
    </div>
</div>
