{{auto-suggest source=controller destination=filters}}

{{#if filters}}
    <div class="people">
        <ul>
            {{#each people}}
                <li>{{firstName}} {{lastName}}</li>
            {{else}}
                <li>No Results</li>
            {{/each}}
        </ul>
    </div>
{{/if}}
